* {
    outline: none;
}

html, body {
    background: #201b2c;
    font-family: 'Noto Sans', sans-serif;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 30px;
}

.card-login h1 {
    font-size: 22px;
    color: #00ff88;
    outline: none;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield label {
    color: #00FF88;
    margin-bottom: 10px;
}

.textfield::placeholder {
    color: #9ef1ca;
    
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00FF88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.textfield:hover {
    transform: scale(1.015);
}

.textfield::placeholder:active {
    color: #00FF88;
}

.btn-login:hover {
    transform: scale(1.015);
}

.btn-login:active {
    background: #03bb65;
}

footer .container {
    color: #00ff88;
    background: #2f2841;
    font-size: 15px;   
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;    
}

@media only screen and (max-width:950px){
    .card-login {
        width: 65%;
        margin-right: 40px;
    }
    
}

@media only screen and (max-width:600px){
    .main-login {
        flex-direction: column;
    }

    .left-login h1{
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        margin: 30px 40px 50px;
    }

    .left-login-image {
        width: 50vh;
    }

    footer .container {
        margin-top: 47px;
    }
}

@media only screen and (max-width:420px){
    .main-login {
        flex-direction: column;
    }

    .left-login h1{
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 40vh;
        margin-top: 15%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #201b2c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00FF88;
    border-radius: 10px;
}